
.background-cover{
  // height: 100%;
  width: 100%;
  border-radius: 40px;
  z-index: -1;
}

@media screen and (max-width: 780px) {
  .background-cover{
    
    visibility: hidden;
  }
  
}
.portfloio-image-mobile{
  z-index: -1;
  margin-top: 0;
  height: fit-content;
  border-radius: 40px;
  width: 115%;
  image-resolution:100px;


  // background-image: src("images/Login Page Mobile Prototype.png"); 
}


@media screen and (min-width: 760px){
  .portfloio-image-mobile{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
}